version: '3'
services:
  add-product-service:
    build:
      context: ./app_add_product
      dockerfile: Dockerfile_add_product
    ports:
      - "5000:5000"
    depends_on:
      - mysql

  read-product-service:
    build:
      context: ./app_read_product
      dockerfile: Dockerfile_read_product
    ports:
      - "5001:5001"
    depends_on:
      - mysql

  display-product-service:
    build:
      context: ./app_display_product
      dockerfile: Dockerfile_display_product
    ports:
      - "5002:5002"
    depends_on:
      - mysql
      
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: mydb
    ports:
      - "3307:3306"
    volumes:
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

